body{
    padding: 0;
    margin: 0;
    border: 0;
}

/*LOGIN*/
.container-login{
    text-align: center;
}

.arteLogin{
    margin: 3% 0 3% 0;
    width: 30%;
}

.formulario-login{
    background-color: #2C2A2A;
    max-width: 30%;
    margin: auto;
    text-align: center;
    padding: 2%;
    border-radius: 7px;
}

.titulo-campo-login{
    font-size: 2.5vh;
    margin-bottom: 1%;
    color: #CECBCB;
    text-align: left;
    margin-left: 8%;
}

.campo-login{
    border: none;
    background-color: #CECBCB;
    width: 80%;
    border-radius: 5px;
    margin-bottom: 2%;
    padding: 2%;
}

.btn-login{
    background-color: #CECBCB;
    border: none;
    width: 70%;
    padding: 2%;
    margin-top: 7%;
    margin-bottom: 8%;
    border-radius: 5px;
    color:#2C2A2A;
    font-weight: 700;
}

.btn-login:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}